.container{
  width: 900px;
  height: 900px;
}

h1{
  font-size: 40pt;
  margin-bottom: 35px;
}

input{
  font-size: 30pt;
  width: 600px;
  height: 80px;
}

.inner-container{
  display: inline-block;
  text-align: center;
}
